@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
div{
    color: blue;
    text-align: center;
    margin-top: 200px;
}
h1{
    text-align: center;
    color: red;
}